name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  CI:
    if: ${{ github.repository == 'googleapis/ruby-common-tools' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "3.1"
            build: true
            jobs: "--only --test"
          - os: ubuntu-latest
            ruby: "3.2"
            build: true
            jobs: "--only --test"
          - os: ubuntu-latest
            ruby: "3.3"
            build: true
            jobs: "--only --test"
          - os: ubuntu-latest
            ruby: "3.4"
            build: true
            jobs: "--only --test"
          - os: ubuntu-latest
            ruby: "3.4"
            build: false
            jobs: "--only --rubocop"
          - os: ubuntu-latest
            ruby: "4.0"
            build: true
            jobs: "--only --test"
          - os: ubuntu-latest
            ruby: "4.0"
            build: false
            jobs: "--only --rubocop"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
    - name: Install Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
    - name: Install NodeJS 20.x
      uses: actions/setup-node@v4
      with:
        node-version: "20.x || 24.x"
    - name: Install tools and deps
      shell: bash
      run: "gem install --no-document toys && bundle install"
    - name: Test
      shell: bash
      run: toys ci ${{ matrix.jobs }} --include-owlbot-build --github-event-name=${{ github.event_name }} --github-event-payload=${{ github.event_path }} < /dev/null
