name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  CI:
    if: ${{ github.repository == 'googleapis/ruby-common-tools' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "3.1"
          - os: ubuntu-latest
            ruby: "3.3"
          - os: ubuntu-latest
            ruby: "3.4"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Install Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
    - name: Install NodeJS 18.x
      uses: actions/setup-node@v4
      with:
        node-version: "18.x"
    - name: Install tools
      shell: bash
      run: "bundle install && gem install --no-document toys"
    - name: Build
      shell: bash
      run: toys ci build -v < /dev/null
    - name: Test
      shell: bash
      run: toys ci < /dev/null
