name: Release-Please OwlBot Postprocessor
on:
  push:
    branches: [main]
    paths: 'owlbot-postprocessor/**'
  workflow_dispatch:
    inputs:
      version:
        description: "Specific version"
        required: false
      args:
        description: "Extra command line arguments."
        required: false

jobs:
  release-please:
    if: ${{ github.repository == 'googleapis/ruby-common-tools' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
      RELEASE_PLEASE_DISABLE: ${{ secrets.RELEASE_PLEASE_DISABLE }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
      - name: Install NodeJS 16.x
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
      - name: Install tools
        run: "gem install --no-document toys"
      - name: execute
        run: |
          toys release manifest -v \
            --fork --skip-labeling \
            --github-event-name=${{ github.event_name }} \
            ${{ github.event.inputs.args }} \
            owlbot-postprocessor:${{ github.event.inputs.version }}
